.nav{
    display: flex;
    text-decoration: none;
    background-color: #30373c;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    align-items: center;
    width: 100%;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.nav ul li a{
    text-decoration: none;
}

@media(max-width:560px){
    .nav{
        font-size: 12px;
    }
}

@media(max-width:540px){
    .nav{
        font-size: 11px;
    }
}

@media(max-width:520px){
    .nav{
        font-size: 10px;
    }
}

@media(max-width:500px){
    .nav{
        font-size: 9px;
    }
}